.card{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0
}

.TaskCard{
    border-radius: 10px;
    border: 1px solid rgb(81, 79, 79);
    width: 90%;
}

svg{
    border: 1px solid rgb(81, 79, 79);
    height: auto;
    border-radius: 10px;
    width: 1.5rem;
}

svg:hover{
    cursor: pointer;
    background-color: rgb(81, 79, 79);

}